// *{margin: 0;padding:0;box-sizing: border-box;}
// ul,li{list-style: none;}
// button{
//   border: none;
//   background: no-clip;
//   &:focus{
//     outline: none;
//   }
// }

@import './components/style.scss';
@import './blocks/advanced-rich-text-tools/index';
@import './blocks/tu-column2/style';
// // Gutenberg JS Style
// @import '~@frontkom/gutenberg-js/build/css/block-library/style.css';
// @import '~@frontkom/gutenberg-js/build/css/style.css';

.p20 {
  padding: 20px;
}
.wp-block-verse {
  border-left: 1px solid #f60;
  background: #eee;
}
