/**style Start**/
.tu-column2 {
  >.editor-inner-blocks {
    > .editor-block-list__layout {
      display: flex;
      > .editor-block-list__block[data-type='tssblocks/column'] {
        margin: 0;
        display: block;
        border: 1px solid #f60;
        flex: 1;
      }
    }
  }
}

.resize-box {

  height: 100%;
  width: 50%;
  border-right: 10px solid #060;
  .resize-bar {
    border: 1px solid #f00;
    min-height: 50px;
  }
}

/**style  End**/
